<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Index page for uploads</title>
</head>
<body>
   <div>
      <h2>Select a photo to upload.</h2>
      {% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
      {% endfor %}

      <form action="/" method="post" enctype="multipart/form-data">
         <input type="file" name="file" required>
         <button type="submit">Upload</button>
      </form>
   </div>

   {% if file_info %}
   <h2>File Information</h2>
   <ul>
      <li><strong>Filename:</strong> {{ file_info.filename }}</li>
      <li><strong>Content-Type:</strong> {{ file_info.content_type }}</li>
      <li><strong>Size (KB):</strong> {{ file_info.size_kb }}</li>
      <li><strong>Size (MB):</strong> {{ file_info.size_mb }}</li>
   </ul>
   {% endif %}

   
   {% if filename %}
      <h2>Uploaded Image:</h2>
      <img src="{{ url_for('static', filename='uploads/' + filename) }}" width="300">
   {% endif %}
   
</body>
</html>